@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 10px solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: typing 3.5s steps(60, end), blink-caret 0.75s step-end 6;
    text-align: left;
    width: max-content;
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0%;
    }
    40% {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: var(--theme-highlight-contrast);
    }
  }

  @keyframes fade-caret {
    from {
      border-color: var(--theme-highlight-contrast);
    }
    to {
      border-color: transparent;
    }
  }

  /* Original state / return-to-normal state */
  .animated-icon-group--icon {
    fill: var(--theme-highlight);
    transition: all 0.2s;
  }

  .animated-icon-group--inner-circle {
    fill: transparent;
    transition: all 0.2s;
  }

  .animated-icon-group--outline {
    stroke: var(--theme-highlight);
    transform-origin: 50% 50%;
    transition: all 0.2s;
  }

  /* Animation state / when hovered state */
  .animated-icon:is(:hover, :focus) .animated-icon-group--inner-circle {
    fill: var(--theme-highlight) !important;
    transition: all 0.35s;
  }

  .animated-icon:is(:hover, :focus) .animated-icon-group--icon {
    fill: var(--theme-background) !important;
    transition: all 0.35s;
  }

  .animated-icon:is(:hover, :focus) .animated-icon-group--outline {
    stroke: var(--theme-highlight) !important;
    stroke-width: 25px;
    animation: circling-animation 0.225s reverse;
    transform-origin: center;

    transform: scale(1.15) rotate(95deg); /* rotation to give a growing circle border feel */
    transition: all 0.35s;
  }

  @keyframes circling-animation {
    to {
      stroke-dasharray: 0 1333; /* starting state, nothing around the circle */
    }
  }

  .animated-link {
    color: currentColor;

    background-image: linear-gradient(
      110deg,
      var(--theme-highlight) 60%,
      var(--theme-background) 40%
    );
    background-size: 200% 100%;
    background-position-x: 130%;
    background-repeat: no-repeat;
    transition: all 0.2s;
  }

  .animated-link:is(:hover, :focus) {
    background-size: 200% 100%;
    background-position-x: 10%;

    transition: all 0.35s;
  }

  .animated-link:is(:hover, :focus) .animated-link-group {
    color: var(--theme-background);
    transition: all 0.2s;
    fill: var(--theme-background);
    padding-bottom: 0.75%;
  }

  .animated-cta-link {
    color: currentColor;

    background-image: linear-gradient(
      110deg,
      var(--theme-highlight-contrast) 60%,
      var(--theme-background) 40%
    );
    background-size: 200% 100%;
    background-position-x: 130%;
    background-repeat: no-repeat;
    transition: 0.3s;
  }

  .animated-cta-link:is(:hover, :focus) {
    background-size: 200% 100%;
    background-position-x: 10%;
    transition: all 0.45s;
  }

  .animated-cta-link:is(:hover, :focus) .animated-cta-link-group--text {
    color: var(--theme-background);
    transition: all 0.3s;
    margin-left: 2%;
  }

  .animated-cta-link:is(:hover, :focus) .animated-cta-link-group--icon {
    fill: var(--theme-background);
    transition: all 0.35s;
    transform: scale(1.1) rotate(90);
    margin-left: 1%;
    margin-right: 2%;
  }
}
