@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 10px solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: typing 3.5s steps(60, end), blink-caret 0.75s step-end 6;
    text-align: left;
    width: max-content;
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0%;
    }
    40% {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: var(--theme-highlight-contrast);
    }
  }

  @keyframes fade-caret {
    from {
      border-color: var(--theme-highlight-contrast);
    }
    to {
      border-color: transparent;
    }
  }

  .social-group__icon {
    fill: var(--theme-text);
    transition: all 0.2s;
  }

  .social-group__inner-circle {
    fill: transparent;
    transition: all 0.2s;
  }

  .social-group__outline {
    stroke: var(--theme-text);
    transform-origin: 50% 50%;
    transition: all 0.2s;
  }

  .social-link:is(:hover, :focus, :active) .social-group__inner-circle {
    fill: var(--theme-text) !important;
    transition: all 0.45s;
  }

  .social-link:is(:hover, :focus, :active) .social-group__icon {
    fill: var(--theme-background) !important;
    transition: all 0.45s;
  }

  .social-link:is(:hover, :focus, :active) .social-group__outline {
    stroke: var(--theme-text) !important;
    stroke-width: 25px;
    animation: circle-chart-fill 0.3s reverse;
    transform-origin: center;

    transform: scale(1.15) rotate(95deg); /* rotation to give a growing circle border feel */
    transition: all 0.45s;
  }

  @keyframes circle-chart-fill {
    to {
      stroke-dasharray: 0 1333; /* starting state, nothing around the circle */
    }
  }
}
