@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --theme-background: #f4f3f7;
  --theme-text: #464161;
  /* --theme-text: #5a5575; */
  --theme-highlight: #716a93;
  --theme-highlight-pastel: #d5d3df;
  --theme-highlight-contrast: #8c936a;
  --theme-highlight-contrast-pastel: #dddfd3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--theme-text);
  background: var(--theme-background);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;

  padding: 40px 80px;
  position: 100vw;

  overflow-x: hidden;
}

p::selection {
  background: var(--theme-highlight);
  color: var(--theme-background);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme-background);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-background);
}
