@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .parallax-root,
  .not-a-root {
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;

    align-items: center;
    vertical-align: middle;
    justify-content: center;
    /* margin-bottom: 20%; */
    margin-bottom: 30vh;
  }

  .parallax-container {
    justify-content: center;
    position: relative;
    width: 80vh;
  }
}
